body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

.loading {
    display: flex;
    animation: desapear 400ms 4s both;
    min-height: 100vh;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: white;
    /*z-index: 999;*/
    /*top: 0;
    left: 0;*/
    
}

.dot {
    width: 50px;
    height: 50px;
}

.dot:nth-child(1) {
    background-color: #9356dc;
    animation: animate 5s alternate infinite;
}

.dot:nth-child(2) {
    background-color: #ff79da;
    animation: animate 6s alternate infinite;
}

.dot:nth-child(3) {
    background-color: #99e2d0;
    animation: animate 7s alternate infinite;
}


@keyframes animate {
    0%,
    100% {
        transform: scale(2);
        border-radius: 50%;
    }

    50% {
        transform: scale(0);
        border-radius: 50%;
    }
}

@keyframes desapear {
    0%{
        opacity: 1;
        z-index: 999;
    }
    
    100%{
    opacity: 0;
    z-index: -1;
    }
    }



@keyframes cardsanim {
    0% {
      opacity: 0;
      top: 0px;
    }

    75% {
        opacity: 1;
        top: 100px;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
      top: 100px;
    }
  }

@mixin button {
    background-color: transparent;
    --color-from: #9356DC;
    --color-to: #FF79DA;
    background-image: linear-gradient(
      to top,
      var(--color-from),
      var(--color-to)
    );
    color: #fff;
    border: none;
    outline: 0 !important;
    border-radius: 35px;
    padding: 17px 30px;
    font-size: 15px;
    box-shadow: 4px 6px 30px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in;
    text-decoration: none;

    &:hover {
        background-color: #fff;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
        --color-from: #9356dcd6;
        --color-to: #ff79b7f0;
        background-image: linear-gradient(to top, 
        var(--color-from), 
        var(--color-to));
    }

}

.header {
    position: relative;
    box-shadow: 0px -8px 1rem 0px;
    padding: 4%;


    &__logo {
        font-family: "Shrikhand";
        text-align: center;
        margin: 0;
    }
}

.localisation {
    display: flex;
    justify-content: center;
    background-color:#ecebeb;
    padding: 5% 6%;

    &__icon {
        margin-right: 5%;
    }
    
}

.explore {
    text-align: center;
    padding: 4%;
    background-color: #f3f3f3;
    padding-bottom: 20%;

    &__title {
        font-weight: 300;
        margin-bottom: 3rem;
    }

    &__btn {
        @include button;
    }


}

.process {
    padding: 4%;
    margin: 2% 0 10%;

    &__steps {
        list-style: none;
        counter-reset: compteListe;
        margin: 0;
        padding: 0;
    }

    
    &__step {
        padding: 0%;
        position: relative;
        box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 14%);
        display: flex;
        background-color: #f6f6f6;
        margin: 1.4rem 0rem 0.4rem 0.75rem;
        border-radius: 1rem;
        
        &::before {
            background-color: $color-primary;
            counter-increment: compteListe 1;
            content: counter(compteListe) " ";
            position: absolute;
            bottom: 35%;
            left: -10px;
            border-radius: 70%;
            color: white;
            display: flex;
            height: 23px;
            width: 23px;
            justify-content: center;
            font-weight: 200;
            align-items: center;
            
        }

        &:hover {
            background-color: #f5edff;
        }
        
        
    }
    
    &__img {
    
            display: flex;
            align-items: center;
            margin: auto 1.75rem auto 1.75rem;
            color: #7e7e7e;
        }

}

h5 {
    font-weight: 500;
    font-size: 16px;
}

.container {
    margin: auto;
    position: relative;
}

.restaurants {
    background-color: #f6f6f6;
    padding: 22px 20px;
}

.cards {
    display: flex;
    flex-direction: column;
}

.card {
    border-radius: 12px;
    text-decoration: none;
    background-color: white;
    box-shadow: 0.25rem 0.25rem 0.85rem rgb(0 0 0 / 14%);
    margin-bottom: 1.25rem;
    color: black;
    max-height: 280px;
    position: relative;

    &__img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 12px 12px 0 0;
    }

    &__pin {
        background-color: $color-tertiary;
        color: #1b6150;
        border-radius: 7%;
        position: absolute;
        padding: 0.5rem;
        right: 5%;
        top: 10%;

    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        align-items: center;
    }

    &__infos {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    &__title {
        margin: 0px 0px 5px;
    }

    &__sub {
        margin: 0px;
        font-size: 17px;
        font-weight: 300;
    }

    &__likeBtn {
        position: relative;
    }


    &__heart {
        display: flex;
        font-size: x-large;
        position: absolute;
        right: 8px;
        top: -11px;
    }

    &__fullheart {
        opacity: 0;
    }

    &__fullheart:hover  {
        opacity: 1;
        background-image: -webkit-gradient(linear, left bottom, right top, from(#FF79DA), to(#9356DC));
        background-image: linear-gradient(to top right, #FF79DA, #9356DC);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    &__empty {
        opacity: 1;
    }

    &__empty:hover {
        opacity: 0;
        transition: 0.5s;
    }
}


.footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding: 20px;

    &__logo {
        color: white;
        font-family: "Shrikhand";
        font-size: 20px;

    }

    &__li {
        margin-bottom: 10px;
    }

    &__ul {
      list-style: none;
      padding: 0;    
    }


    &__link {
        text-decoration: none;
        color: white;
    }
}

/* PAlette du goût */

.img_card-menu {
    object-fit: cover;
    width: 100%;
}

.menu_container {
    border-radius: 25px 25px 0 0;
    margin-top: -80px;
    background-color: #f6f6f6;
    position: relative;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15px 0px 15px;
}

.menu-title {
    margin-top: 10px;
    font-family: "Shrikhand";
}

.menus {
    display: flex;
    flex-direction: column;
    padding: 0 16px;

    &__steps {
        text-transform: uppercase;
        font-weight: 200;
        position: relative;
        margin-bottom: 28px;

        &::after {
            content: "";
            width: 3rem;
            height: 0.25rem;
            background-color: $color-tertiary;
            position: absolute;
            left: 0;
            bottom: -10px;
        }
    }

}
    .menusChoice {
        background-color: white;
        margin: 9px 0;
        border-radius: 15px;
        box-shadow: 4px 4px 9px rgb(0 0 0 / 13%);
        padding: 12px;
        overflow: hidden;
        cursor: pointer;
        animation: cardsanim 2s linear;
        animation-fill-mode: both;
        max-width: 100%;
        display: flex;
        transform: scale(0);
    

    &__title {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__subtitle {
        margin: 0;
        font-size: 15px;
        font-weight: 300;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__infos {
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        
    }

    &__price {
        font-weight: 600;
        display: flex;
        align-items: flex-end;
    }

    &__checked {
        background-color: #99e2d0;
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .5s;

    }

    &:hover &__checked {
        margin-right: -12px;
    }

    &__anim {
        height: 1.6rem;
        width: 1.6rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: .5s;
    }

    &:hover &__anim {
        transform: rotate(0);
    }

    &__checkedicon {
        color: $color-tertiary;
    }
}

@for $i from 0 to 9 {
    .time-#{$i} {
      animation-delay:  #{$i/10}s;
    }
  }

/* La note enchantée */

.img_la_note_enchantee {
    object-fit: cover;
    width: 100%;
}

/* arrow */

.header {
    &--Arrow {
      position: relative;
    }
    &__Arrow {
    position: absolute;
    left: 45px;
    height: 20px;
    width: 2rem;
    top: 38%;
    align-items:center;
    justify-content:center;
    font-size: 1.2rem;
    color: black;
      }
    }

    .order {
        padding: 80px 0;
        text-align: center;
    }
    
    .orderbtn {
        @include button();
    }

    @media (min-width: 1024px) {
  
        .heroImg {
            max-width: 100%;
            max-height: 32rem;
            width: 100%;
            object-fit: cover;
        }

        .menus {
            display: flex;
            padding: 0 16px;
            justify-content: space-around;
            flex-direction: row;
        }

        .menusChoice {
            &__subtitle {
                width: 90%;
            }
        }

        .menu_container {
            margin: -61px 130px 0;
        }

        .img_card-menu {
            max-height: 32rem;
        }

        .bloc {
            width: 30%;
        }

        .footer {

            &__logo {
                text-align: center;
            }

            &__ul {
                text-align: center;
            }
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin: 5%;
            row-gap: 5%;
            column-gap: 5%;
        }

        .card {

            &__pin {
                right: 27px;
                left: inherit;
            }
        }

        .process {
            margin: 0;
            padding: 3%;
            display: flex;
            justify-content: center;
            
            &__title {
                display: flex;
                align-items: center;
                margin-right: 20px;
            }

            &__steps {
                display: flex;
                justify-content: center;
            }

            &__step {

                padding-right: 30px;
                margin: 1.4rem 2rem 0.4rem 0.75rem;
            }
        }

        #restau {
            margin-left: 5%;
        }

        .explore {
            padding-bottom: 4%;
        }

        .localisation {
            padding: 3% 3%;
        }

    }