@mixin button {
    background-color: transparent;
    --color-from: $color-primary;
    --color-to: $color-secondary;
    background-image: linear-gradient(
      to top,
      var(--color-from),
      var(--color-to)
    );
    background-blend-mode: overlay;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px 25px;
    font-size: 16px;
    box-shadow: 4px 6px 30px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in;

    &:hover {
        background-color: rgba(80, 80, 80, 0.4);
    }

}
